.MuiListItemText-primary {
    color: #ffffff;
}

.drawer-icon {
    color: #ffffff !important;
}

.Mui-selected {
    .MuiListItemText-root {
        span {
            color: #7AE02D !important;
        }
        
    }
    .drawer-icon {
        color: #7AE02D !important;
    }
    
}

.drawer-icon {
    color: #ffffff !important;
}



.title {
    color: #000000;
}

.logoutBtn {
    color: #F50057 !important;
    border-color: #F50057 !important;
}

.logoutBtn:hover {
    color: #ffffff !important;
    border-color: #F50057 !important;
    background-color: #F50057 !important;

    -webkit-box-shadow: 5px 6px 10px -4px rgba(0, 0, 0, 0.52);
    box-shadow: 5px 6px 10px -4px rgba(0, 0, 0, 0.52);
}